header {
    h3,
    h5 {
        display: inline-block;
        padding-right: 0.5rem;
        margin-top: 0;
    }
    a {
        text-shadow: none;
        background-image: none;
        text-decoration: none;
        vertical-align: middle;
        &:hover {
            color: red;
        }
        img {
            vertical-align: middle;
        }
    }
}
.blog-list {
    h2 {
        margin-bottom: 0.5rem;
    }
    h4 {
        font-style: italic;
        margin-bottom: 0.5rem;
        margin-top: 0;
        span {
            display: inline-block;
            color: grey;
            font-size: 0.8rem;
        }
    }
}

.postIntro {
    h1 {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    p.tags {
        font-size: 0.8rem;
        color: gray;
        margin: 0;
        text-align: center;
    }
    p.date {
        margin: 0 0 1rem 0;
        text-align: center;
    }
    p.intro {
        margin-top: 1.5rem;
        font-style: italic;
    }
}
